{% extends 'base.html' %}


{% block contents %}

    <button type="button" class="btn btn-outline-primary" style="margin-left: 10px">
        <a href="{% url 'blog_new' %}">새 글 작성
        </a>
    </button>
    <hr>

    {% for blog in blogs %}
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">{{ blog.title }}</h5>
                {{ blog.pub_date }}
                <p class="card-text">{{ blog.summary }}</p>
                <a href="{% url 'read_blog_detail' blog.id %}" class="btn btn-outline-dark">More</a>
            </div>
        </div>
        <hr>
    {% endfor %}

{% endblock %}